<%- include("partials/header"); -%>
    <h1>About</h1>
    <div class="content">
      <p> <%= aboutContent %> </p>
      <img class="run-image" src="/images/erin-run.jpeg" alt="running"/>
    </div>


<%- include("partials/footer"); -%>
